@media screen and (max-width: 1365px) {
    .section-8 .left-side {
        padding: 0px 80px !important;
    }

    .header-cat {
        display: none;
    }

    .sidebar-cat.hide {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .customize-modal {
        width: 70% !important;
    }

    .product-style {
        flex-direction: column;
    }
}

@media screen and (max-width: 991px) {
    .navigation .navbar-header {
        justify-content: space-between !important;
    }

    .navigation .navbar-header>.logo {
        flex: auto;
        order: 0;
    }

    .search .dropdown-menu {
        left: auto !important;
    }

    .search .dropdown-menu:before {
        left: auto !important;
        right: 20px !important;
    }

    .navigation .menu .list>li>a {
        padding: 10px 0 !important;
    }

    .mobile-view-hide {
        display: none !important;
    }

    .mobile-view-title {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .checkout-bumbs .shop-products {
        width: 100%;
    }

    .customize-modal {
        width: 82% !important;
    }

    #elevatezoom-gallery {
        display: none !important;
    }

    #elevatezoom-gallery.mobile-view {
        display: block !important;
    }

    .shop-inner-page .elevatezoom .elevatezoom-holder {
        float: none !important;
        width: 100% !important;
        margin-right: 0px !important;
        max-width: 100% !important;
        margin: 0 !important !important;
        margin-bottom: 10px !important;
    }

    .shop-inner-page .elevatezoom #elevatezoom-gallery.mobile-view {
        width: 100% !important;
    }

    .shop-inner-page .elevatezoom #elevatezoom-gallery.mobile-view .slick-prev {
        left: 0% !important;
        top: 50% !important;
        transform: translateX(0%) !important;
        transform: translateY(-50%) !important;
    }

    .shop-inner-page .elevatezoom #elevatezoom-gallery.mobile-view .slick-next {
        left: auto !important;
        transform: translateX(0%) !important;
        top: 50% !important;
        right: 0 !important;
        transform: translateY(-50%) !important;
    }

    .shop-inner-page .elevatezoom #elevatezoom-gallery.mobile-view .slick-prev:before {
        content: "\f060" !important;
    }

    .shop-inner-page .elevatezoom #elevatezoom-gallery.mobile-view .slick-next:before {
        content: "\f061" !important;
    }

    .customize-modal {
        width: 82% !important;
    }

    .section-8 .left-side {
        padding: 0px 30px !important;
    }

    .checkout-box-shadow-style h2 {
        font-size: 16px;
        font-weight: 700;
    }
}

@media screen and (max-width: 767px) {
    #cartModal .modal-dialog {
        max-width: auto !important;
        width: 95%;
        margin: 30px auto;
    }

    table.mw-cart-table td img {
        width: auto !important;
    }

    .shipping-sys {
        margin-top: 20px;
    }

    .action-button {
        margin-top: 20px;
    }

    .navigation .navbar-header .toggle {
        width: auto;
    }

    .navigation .navbar-header .logo a {
        width: auto;
    }

    .cart-table,
    .cart-table thead,
    .cart-table tbody,
    .cart-table th,
    .cart-table td,
    .cart-table tr {
        display: block !important;
    }

    .cart-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .cart-table tr {
        border: 1px solid #ccc !important;
    }

    .cart-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 40% !important;
    }

    .cart-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    .cart-table td:nth-of-type(1):before {
        content: "Bild";
    }

    .cart-table td:nth-of-type(2):before {
        content: "Produktname";
    }

    .cart-table td:nth-of-type(3):before {
        content: "Menge";
    }

    .cart-table td:nth-of-type(4):before {
        content: "Preis";
    }

    .cart-table td:nth-of-type(5):before {
        content: "Servicepreis";
    }

    .cart-table td:nth-of-type(6):before {
        content: "Gesamt";
    }

    .cart-table td:nth-of-type(7):before {
        content: "Löschen";
    }

    .cart-table td:nth-of-type(6) {
        text-align: left !important;
    }

    .cart-table td:nth-of-type(7) {
        text-align: left !important;
    }

    .cart-table-delete {
        text-align: left !important;
    }

    .mobile-menu-label {
        display: none;
    }

    .shopping-info {
        width: 60% !important;
    }

    table.mw-cart-table td:first-child {
        padding: 0px !important;
        padding-left: 50% !important;
    }

    .checkout-total-table,
    .checkout-total-table thead,
    .checkout-total-table tbody,
    .checkout-total-table th,
    .checkout-total-table td,
    .checkout-total-table tr {
        display: block !important;
    }

    .checkout-total-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .checkout-total-table tr {
        border: 1px solid #ccc !important;
    }

    .checkout-total-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        text-align: left !important;
    }

    table.mw-cart-table.checkout-total-table td:first-child {
        padding-left: 1% !important;
    }

    .checkout-total-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    .checkout-total-table label {
        text-align: left !important;
    }

    .cell-shipping-country .shipping-country-select {
        margin-left: 0;
    }

    .product-order-table,
    .product-order-table thead,
    .product-order-table tbody,
    .product-order-table th,
    .product-order-table td,
    .product-order-table tr {
        display: block !important;
    }

    .product-order-table thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .product-order-table tr {
        border: 1px solid #ccc !important;
    }

    .product-order-table td:before {
        position: absolute !important;
        top: 6px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }

    .product-order-table td {
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 50% !important;
    }

    .product-order-table td:nth-of-type(1):before {
        content: "Bild";
    }

    .product-order-table td:nth-of-type(2):before {
        content: "Produktname";
    }

    .product-order-table td:nth-of-type(3):before {
        content: "Menge";
    }

    .product-order-table td:nth-of-type(4):before {
        content: "Preis";
    }

    .product-order-table td:nth-of-type(5):before {
        content: "Gesamt";
    }

    .my-order-status.pull-right {
        float: none !important;
    }

    .withoutService.cart-table td:nth-of-type(1):before {
        content: "Bild";
    }

    .withoutService.cart-table td:nth-of-type(2):before {
        content: "Produktname";
    }

    .withoutService.cart-table td:nth-of-type(3):before {
        content: "Menge";
    }

    .withoutService.cart-table td:nth-of-type(4):before {
        content: "Preis";
    }

    .withoutService.cart-table td:nth-of-type(5):before {
        content: "Gesamt";
    }

    .withoutService.cart-table td:nth-of-type(6):before {
        content: "Löschen";
    }

    .navigation .navbar-header {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 520px) {

    .cart-bumbs-product-photo .image,
    .checkout-bumbs-product-photo .image {
        justify-content: center;
    }

    .cart-bumbs-product,
    .checkout-bumbs-product {
        flex-direction: column;
    }

    #progressbar li span {
        width: 143px;
        height: 38px;
        padding-right: 8px;
        font-size: 8px;
    }

    footer ul li {
        display: block !important;
        line-height: 15px;
    }
}

@media screen and (max-width: 426px) {
    .shopping-info {
        width: 82% !important;
    }

    .navigation .navbar-header {
        flex-flow: column !important;
    }
}
